<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="package-mapping" content="components:de.kaniba.components">
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;THEME&quot;:&quot;designertest&quot;}">
 </head> 
 <body> 
  <vaadin-css-layout style-name="valo-menuitems" width-full _id="menuItems"> 
   <vaadin-button icon="fonticon://FontAwesome/f013" primary-style-name="valo-menu-item" _id="administrateBarsButton">
     Bars administrieren 
   </vaadin-button> 
   <components-internal-menu-impl></components-internal-menu-impl>
  </vaadin-css-layout>  
 </body>
</html>