<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:false,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
 </head> 
 <body> 
  <vaadin-css-layout> 
   <vaadin-form-layout margin> 
    <vaadin-label id="login-label" size-auto plain-text>
      Login 
    </vaadin-label> 
    <vaadin-text-field icon="fonticon://FontAwesome/f007" caption="Username" id="usernameTextfield" responsive width-full _id="usernameTextfield" :center></vaadin-text-field> 
    <vaadin-password-field icon="fonticon://FontAwesome/f084" caption="Passwort" id="passwordField" responsive width-full _id="passwordField" :center></vaadin-password-field> 
    <vaadin-button responsive width-full plain-text id="loginPopup-submit" _id="loginButton" :center>
      Einloggen 
    </vaadin-button> 
   </vaadin-form-layout> 
   <vaadin-link caption="Noch nicht registriert?" style-name="loginRegisterText" responsive _id="registerLink"></vaadin-link> 
  </vaadin-css-layout>  
 </body>
</html>