<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
 </head> 
 <body> 
  <vaadin-vertical-layout> 
   <vaadin-label style-name="huge" id="name-label" size-auto plain-text _id="nameLabel">
     BarName 
   </vaadin-label> 
   <vaadin-label id="address-label" size-auto plain-text _id="addressLabel">
     Luisenstraße 93, 76137 Karlsruhe 
   </vaadin-label> 
  </vaadin-vertical-layout>  
 </body>
</html>