/screenshots/
/kaniba_0.log.0
/kaniba_0.log.1
/kaniba_1.log.0
/kaniba_2.log.0
/kaniba_2.log.0.lck
/kaniba_3.log.0
/kaniba_3.log.0.lck
/kaniba_4.log.0
/kaniba_4.log.0.lck
/kaniba_5.log.0
/kaniba_5.log.0.lck
#################
## Eclipse
#################

*.pydevproject
/.project
/.metadata
/bin/
/tmp/
/*.tmp
/*.bak
/*.swp
/*~.nib
/local.properties
/.classpath
/.settings/
/.loadpath
/target/
